data/keypoints.jsonl
__pycache__/
*.py[cod]

holoscantests/data/keypoints.jsonl
holoscantests/data/posture.jsonl

# Virtual environments (ignore common names)
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
pyvenv.cfg
.Python
# End virtualenv ignores
venv/

data/live_transcriptions.json
